<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greek.mythology.cerberus.service.dao.mapper.CerberusUserMapper">

    <resultMap id="BaseResultMap" type="com.greek.mythology.cerberus.common.dao.UserInfoDo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time, update_time, username
    </sql>

    <select id="selectListByWrapper" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM cerberus_user
        <!-- 判断 wrapper 是否为空 emptyOfWhere -->
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>